* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
}

.header {
    background-color: rgb(31, 25, 25);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 2rem;
    display: flex;
    gap: 1rem;
}

.nav {
    display: flex;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    gap: .5rem;
}

.nav-link {
    color :white;
    text-decoration: none;
}

.nav-link.active {
    font-weight: bold;
    text-decoration: underline;
}

.products-container {
    min-height: 30vh;
    display: grid;
    place-items: center;
}

.oscuro {
    background-color: black !important;
}

.item-list-container {
    max-width: 1000px;
    margin: 0 auto;
}

.productos-grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.producto {

    background-color: rgb(255, 235, 235);
    border-radius: .5rem;
    padding: 1rem;
}


.grid {
    display: grid;
}

footer {
    margin-top: 30rem;
}

.img-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4rem;

}

.title-card{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #263143;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-card {
    background-color: #263143;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: none;
    margin-left: 180px;

    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.precio-card{
    color: #263143;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.descripcion-card{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 1000;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1.5px;
    color: #263143;

}