* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
}

.header {
    background-color: rgb(31, 25, 25);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 2rem;
    display: flex;
    gap: 1rem;
}

.nav {
    display: flex;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    gap: .5rem;
}

.nav-link {
    color :white;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.nav-link.active {
    font-weight: bold;
    text-decoration: underline;
}

.products-container {
   
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px; 
}

.oscuro {
    background-color: black !important;
}

.item-list-container {
    max-width: 1000px;
    margin: 0 auto;
}

.productos-grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.producto {
    display: grid;
    background-color: rgb(255, 235, 235);
    border-radius: .5rem;
    padding: 1rem;
    width: 300px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /
}



.grid {
    display: grid;
}

footer {
    margin-top: 30rem;
}

.img-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4rem;

}

.title-card{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #263143;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-card {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 10px; 
    right: 10px; 
    background-color: #263143;
    color: #bcc3ce;
    font-size: 10px;
    font-weight: 300;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    
}

.precio-card{
    color: #263143;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.descripcion-card{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 1000;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1.5px;
    color: #263143;
    margin-top: 10px;

}

.link-card{
    text-decoration: none;
    position: absolute;
    bottom: 10px; 
    left: 10px; 
    background-color: #263143;
    color: #bcc3ce;
    font-size: 10px; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.footer{
    background-color: #212529;
    color: white;
    padding: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    .footer_top > div {
        flex: 1 1 0;
    }

    .footer_top{
        display: flex;
        justify-content: center;
        align-items: center
     }
        .footer_top h2{
        font-weight: 30060;
        font-size: 2rem;
        }

        .footer_top .direccion{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
         }

        .direccion{ 
            align-items: end;
         }

    .footer_bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    align-items: end;       
    }
        .footer_bottom .text_copy{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
        }
        .footer_bottom .icons a {
        color: white;
        letter-spacing: 2rem;
        ;
         }
 }

 .title-carrito-vacio{
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#bcc3ce;
    background-color: #13161b;
    margin-top: 150px;
 }


 .container-item-detail{
    position: relative;
    background-color: rgb(255, 235, 235);
    border-radius: .5rem;
    padding: 1rem;
    width: 300px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    color: #263143;
    font-weight: 600;
    margin-top: 20px;
}
 
.title-carrito{
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#bcc3ce;
    background-color: #13161b;
}

.input{
    margin-top: 150px;
    margin-left: 480px;
    display: flex;
    align-items: flex;
    justify-content: center;

    width: 350px;
    height: 60px;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
    border:  2px solid;
    background: transparent;
}

.button-check{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 10px; 
    right: 10px; 
    background-color: #263143;
    color: #bcc3ce;
    font-size: 10px;
    font-weight: 300;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 110px;
    margin-right: 400px;
}
    
